{{#* inline "page_body"}}
<a href="index.html">Home</a>
<br>
<h2>Anime Boys Holding {{language}} Books </h2>
<br>
{{#each pictures}}
<span class="card-title">{{this.title}}</span>
<img width="300" src="{{this.img_small_url}}">
<br>
hi res image : <a href="{{this.img_url}}"> here</a><br> <br>
{{/each}}
{{/inline}}
{{> base}}