{{#* inline "page_body"}}
{{#each languages as |language|}}
<div>
    <span class="card-title">
        <a href="{{language.title}}.html">
            {{language.title}}
        </a>
    </span>
</div>
{{/each}}
{{/inline}}
{{> base}}